/* NOTO SANS KR */
@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 900;
    font-display: swap;
    src: local("NotoSansKR-Black"), url('fonts/notosansKR/NotoSansKR-Black.woff2') format("woff2"), url('fonts/notosansKR/NotoSansKR-Black.woff') format("woff");
  }
  
  @font-face {
    font-family: 'Noto Sans KR';
    font-weight: 700;
    font-display: swap;
    src: local("NotoSansKR-Bold"), url('fonts/notosansKR/NotoSansKR-Bold.woff2') format("woff2"), url('fonts/notosansKR/NotoSansKR-Bold.woff') format("woff");
  }
  
  @font-face {
    font-family: 'Noto Sans KR';
    font-weight: 500;
    font-display: swap;
    src: local("NotoSansKR-Medium"), url('fonts/notosansKR/NotoSansKR-Medium.woff2') format("woff2"), url('fonts/notosansKR/NotoSansKR-Medium.woff') format("woff");
  }
  
  @font-face {
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-display: swap;
    src: local("NotoSansKR-Regular"), url('fonts/notosansKR/NotoSansKR-Regular.woff2') format("woff2"), url('fonts/notosansKR/NotoSansKR-Regular.woff') format("woff");
  }
  
  @font-face {
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-display: swap;
    src: local("NotoSansKR-Light"), url('fonts/notosansKR/NotoSansKR-Light.woff2') format("woff2"), url('fonts/notosansKR/NotoSansKR-Light.woff') format("woff");
  }
  
  @font-face {
    font-family: 'Noto Sans KR';
    font-weight: 100;
    font-display: swap;
    src: local("NotoSansKR-Thin"), url('fonts/notosansKR/NotoSansKR-Thin.woff2') format("woff2"), url('fonts/notosansKR/NotoSansKR-Thin.woff') format("woff");
  }
  
  /* PRETENDARD */
  @font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-display: swap;
    src: local("Pretendard Black"), url('fonts/Pretendard/Pretendard-Black.woff2') format("woff2");
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-display: swap;
    src: local("Pretendard ExtraBold"), url('fonts/Pretendard/Pretendard-ExtraBold.woff2') format("woff2");
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local("Pretendard Bold"), url('fonts/Pretendard/Pretendard-Bold.woff2') format("woff2");
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src: local("Pretendard SemiBold"), url('fonts/Pretendard/Pretendard-SemiBold.woff2') format("woff2");
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: local("Pretendard Medium"), url('fonts/Pretendard/Pretendard-Medium.woff2') format("woff2");
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local("Pretendard Regular"), url('fonts/Pretendard/Pretendard-Regular.woff2') format("woff2");
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-display: swap;
    src: local("Pretendard Light"), url('fonts/Pretendard/Pretendard-Light.woff2') format("woff2");
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-display: swap;
    src: local("Pretendard ExtraLight"), url('fonts/Pretendard/Pretendard-ExtraLight.woff2') format("woff2");
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-display: swap;
    src: local("Pretendard Thin"), url('fonts/Pretendard/Pretendard-Thin.woff2') format("woff2");
  }
  