/* 메인 */
#main {
  width: 100%;
}
.sec01 {
    margin-top: 40px;
    margin-bottom: 70px;
  
    &.Tit {
      margin-bottom: 35px;
    }
     
    .b {
      &::before, &::after {
        content: '';
        display: block;
        margin: 0 5px;
        width: 22px;
        height: 22px;
        background: url(../image/mainpro-icon.png) $bg-img;
        background-size: 22px;
      }
    }
  
    &.cnt {
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;

      }
  
      li {
        width: 50%;
  
        a {
          height: 157px;
          border: 2.5px solid $Mgray-400;
          border-radius: 30px;
          margin: 5px ;
          padding-top: 5px;
          text-align: center;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          background: $white;

          &:hover {
            background: $Mgray-900;
            color: $white;
            font-weight: 500;
            border: 2.5px solid $Mgray-900;

            &.cnt01::before {
              content: '';
              display: block;
              margin: 0 5px;
              width: 100px;
              height: 100px;
              background: url(../image/petfood--hover-icon.png) $bg-img;
              opacity: 1;
              background-size: contain;
              display: flex;
            }

            &.cnt02::before {
              content: '';
              display: block;
              margin: 0 5px;
              width: 100px;
              height: 100px;
              background: url(../image/pettrip--hover-icon.png) $bg-img;
              opacity: 1;
              background-size: contain;
              display: flex;
            }
            &.cnt03::before {
              content: '';
              display: block;
              margin: 0 5px;
              width: 100px;
              height: 100px;
              background: url(../image/petcare--hover-icon.png) $bg-img;
              opacity: 1;
              background-size: contain;
              display: flex;
            }
          
            &.cnt04::before {
              content: '';
              display: block;
              margin: 0 5px;
              width: 80%;
              height: 100px;
              background: url(../image/petmeeting--hover-icon.png) $bg-img;
              opacity: 1;
              background-size: contain;
              display: flex;
            }
          }
        }
      }
    }

    &.cnt01::before {
      content: '';
      display: block;
      margin: 0 5px;
      width: 100px;
      height: 100px;
      background: url(../image/petfood-icon.png) $bg-img;
      opacity: 60%;
      background-size: contain;
      display: flex;
    }
    
    p {
      margin-top: 8px;
      font-size: 14px;
      font-weight: 400;
    }
  
    &.cnt02::before {
      content: '';
      display: block;
      margin: 0 5px;
      width: 100px;
      height: 100px;
      background: url(../image/pettrip-icon.png) $bg-img;
      opacity: 60%;
      background-size: contain;
      display: flex;
    }
  
    &.cnt03::before {
      content: '';
      display: block;
      margin: 0 5px;
      width: 100px;
      height: 100px;
      background: url(../image/petcare-icon.png) $bg-img;
      opacity: 60%;
      background-size: contain;
      display: flex;
    }
  
    &.cnt04::before {
      content: '';
      display: block;
      margin: 0 5px;
      width: 80%;
      height: 100px;
      background: url(../image/petmeeting-icon.png) $bg-img;
      opacity: 60%;
      background-size: contain;
      display: flex;
    }
  
    &.btn {
      width: 100%;
      margin-top: 40px;
      display: flex;
      justify-content: center;
    }
  }
  
  .btn.map {
    height: 50px;
    padding-left: 10px;

    display: block;
    background: $Mgray-900;
    border: 2px solid $primary;
    border-radius: 50px;
    font-family: 'Noto sans KR';
    font-size: 20px;
    color: $white;
    text-align: center;
    line-height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    &::after {
      content: '';
      display: block;
      width: 40px;
      height: 30px;
      background: url(../image/arrowdirection-icon.svg) $bg-img;
      background-size: contain;
      margin-left: 10px;
    }

    &:hover {
      color: $primary;
      background: $white;
      border: 2px solid $primary;

      transform: translateY(-10px);

      &::after {
        content: '';
        display: block;
        width: 40px;
        height: 30px;
        background: url(../image/arrowdirection--hover-icon.svg) $bg-img;
        background-size: contain;
        margin-left: 10px;
      }
    }
  }
  
  #sec-bg {
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 10px;
    width: 100%;
    height: auto;
    background: #222 url(../image/sec-bg.jpg) $bg-img;
    background-size: contain;
    transform: translateX(-10px);
  }
  
  #sec02, #sec03, #sec04, #sec05 {
    margin: 0 10px;
  }
  
  .sec02, .sec03, .sec04 {
    .Tit{
    height: 45px;
    background-color: #222222;
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 15px;
    }
  }
  
  .sec02 , .sec03 , .sec04  {
    .b{
      width: 100%;
      color: $white;
      line-height: 45px;
    }
  }
  
  .sec02 .b {
    &::before {
      content: '';
      display: block;
      padding-right: 10px;
      width: 40px;
      height: 40px;
      background: url(../image/notice-icon.png) $bg-img;
      background-size: contain;
    }
  
    &::after {
      content: '';
      display: block;
      margin-left: auto;
      width: 40px;
      height: 22px;
      background: url(../image/arrowdirection-icon.svg) $bg-img;
      background-size: cover;
      display: flex;
    }
  }
  
  .bbs.list li, .qna.list li, .evnt.list li {
    display: flex;
    flex-direction: column;

    a {
      display: flex;
      align-items: center;
      text-align: center;
      font-weight: 600;
      height: 60px;
      border-bottom: 1px solid $white;

      p {
        color: $white;
      }
      span {
        width: 75px;
        height: 30px;
        border: 1.5px solid $white;
        color: $white;
        border-radius: 50px;
        line-height: 30px;
        margin: 15px 25px 15px 10px;
      }
    }

    &:hover {
      background: $white;

      span {
        color: $primary;
        border: 2.0px solid $primary;
      }

      p {
        color: $primary;
        font-weight: 900;
      }
    }
  }
  
  .sec03 .b {
    &::before {
      content: '';
      display: block;
      padding-right: 10px;
      width: 40px;
      height: 40px;
      background: url(../image/event-icon.png) $bg-img;
      background-size: contain;
    }
  
    &::after {
      content: '';
      display: block;
      margin-left: auto;
      width: 40px;
      height: 22px;
      background: url(../image/arrowdirection-icon.svg) $bg-img;
      background-size: cover;
      display: flex;
    }
  }
  
  .sec04 {
    .b {
      &::before {
        content: '';
        display: block;
        padding-right: 10px;
        width: 40px;
        height: 40px;
        background: url(../image/qmark-icon.png) $bg-img;
        background-size: contain;
      }
  
      &::after {
        content: '';
        display: block;
        margin-left: auto;
        width: 40px;
        height: 22px;
        background: url(../image/arrowdirection-icon.svg) $bg-img;
        background-size: cover;
        display: flex;
      }
    }
  
    &.inner {
      margin-bottom: 50px;
    }
  }
// sec04 이벤트 스와이퍼

.swiper-container {
    width: 100%;
    height: 100%;
  }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.swiper-slide {
  img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


#sec05 {
  padding-top: 40px;
  padding-bottom: 20px;

  .inner {
    .info {
      
    }
    .Tit {
      .b {
        &::before, &::after {
          content: '';
          display: block;
          margin: 0 5px;
          width: 22px;
          height: 22px;
          background: url(../image/mainpro-icon.png) $bg-img;
          background-size: 22px;
        }
      }
    }
    .mapimg {
      img {
        width: 100%;
      }
    }
  }
}

.b {
    font-family: 'Noto sans KR';
    font-size: 28px;
    letter-spacing: -3.6px;
    @include flexAllCenter;
}

