// 웹
@media screen and (min-width:$breakpoint-sm) {
    body {
        max-width: 100%;
        margin: 0 auto;
    }
    .allmenu {
        position: static;
    }
    #header {
        height: $hd-height;
        .wrap {
            #logo {
                display: flex;
                
                &::after {
                    margin-right: auto;

                    left: 0;
                    transform: translate(0,-50%);
                }
            }
            .header-icon {
                margin-right: 0;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(0,-50%);
                .mypg {
                    
                }
            }
            .gnb-wrap {
                position: static;
                margin: 0 auto;
                display: flex;
                .allmenu-header {
                    width: 0;
                    display: none;
                }
                .lang {
                    display: none;
                }
                .btn.Lmenubar {
                    z-index: 0;
                    display: none;
                }
                .btn.Imenubar {
                    
                    &:not(:checked) {
                        & ~ .allmenu {
                            display: block;
                            position: static;
    
                            display: flex;
                            
                            
                        }
                    }  
                }
                .menubar-click {
                    li {
                        position: relative;
                    }
                    display: flex;
                    font-size: 16px;
                    background: none;
                    
                    .hover {
                        position: absolute;
                        top: 66px;
                        left: 0;
                        li {
                            font-size: 14px;
                            text-align: center;
                            
                            a {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
        
    }
    #main {
    }
    .swiper-slide {
        .swiper-web {
            display: block;
            max-width: 100%;
            object-fit: cover;
        }
        .swiper-mobile {
            display: none;
        }
    }
    .sec01 {
        .cnt {
            
            ul {
                display: flex;
                flex-wrap: nowrap;
                li {
                    // width: 25%;
                }
            }
            
        }
    }
    #sec-bg {
        .vw {
            max-width: 1280px;
            margin: 0 auto;

            .top0203 {
                position: relative;
                max-width: 1280px;
                margin: 0 auto;
            }
           }
    }
    #sec02, #sec03 {
       width: 48%;
    }
    
    #sec03 {
        position: absolute;
        top: -50px;
        right: 0;

    }
    #sec04 {
        .inner, .evnt-bnr {
            width: 48%;
        }
        .evnt-bnr {
            height: 300px;
            position: absolute;
            bottom: 80px;
            right: 0;
            
            .evnt-slide {
                width: 100%;
                height: 100%;
            }
        }
    }
    #sec05 {
        max-width: 1280px;
        margin: 0 auto;
        position: relative;
        .Info, .mapimg {
            width: 48%;
        }
        .mapimg {
            position: absolute;
            top: 100px;
            right: 0;

            img {
                background: url(../image/webMap-img.png) $bg-img;
            }
            
        
        }
    }

    #footer {
        background: $secondary;

        .footer-vw {
            margin: 0 auto;
            position: relative;
        }
        .inner {
            .sns {
                position: absolute;
                top: 58px;
                right: 0;

                padding: 10px;
            }
            .up {
                padding-bottom: 40px;
                .toggle {
                    padding: 10px;
                    margin-bottom: 34px;
                    font-size: 20px;
                    font-weight: 600;
                }
                margin: 0 auto;

                padding-top: 60px;

                display: flex;
                align-items: flex-start;
                flex-direction: column;

                .down {
                    font-size: 13px;
                    .contact {
                        display: flex;
                        margin-bottom: 27px;
                    }
                    .mobile {
                        display: none;
                    }
                    .web {
                        display: block;

                        .right {
                            position: absolute;
                            bottom: 50px;
                            right: 0;
                            
                        }
                    }
                }    
            }

            
        }
    }

}

