@import 'variables','mixins', 'fonts', 'resets', 'exhibitionList' ;

// layout

#header {
    max-width: 1280px;
    margin: 0 auto;
    height: $hd-height;
}

#footer {
    // 하단고정
    height: auto;
}

#sec01 {
    max-width: 1280px;
    margin: 0 auto;
}

/* 헤더 */

#header {
    @include flexSpaceBetween;
    width: 100%;
    position: relative;
    .wrap {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0 5px;

        #logo {
            display: block;
            &::after {
                content: '';
                display: block;
                width: 75px;
                height: 30px;
                background: url(../image/megazoo-logo.png) $bg-img;
                background-size: 75px 30px;
    
                @include posXY
            }
        }
        .header-icon {
            margin-right: auto;

            .mypg {
            display: block;
            width: 40px;
            height: 40px;

            &::after {
                content: '';
                display: block;
                width: 22px;
                height: 22px;
                background: url(../image/mypage-icon.png) $bg-img;
                background-size: 22px;
                position: absolute;
                top: 50%;
    
                @include posY ;
                }
            }
        }
        
        /* 네비게이션메뉴 */
        .gnb-wrap {
            position: relative;
            .btn.Imenubar{
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 0;
                border: none;
                visibility: hidden;
                opacity: 0;

                &:checked {
                    
                    // 체크되면
                    & ~ .allmenu {
                        display: block;
                        width: 100%;
                    }
                }
            }
            
            .btn.Lmenubar {
                position: relative;
                z-index: 1100;

                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 3px;
                cursor: pointer;

                .bar {
                    display: block;

                    &::after {
                        content: '';
                        display: block;
                        width: 22px;
                        height: 22px;
                        background: url(../image/menubar-icon.png) $bg-img;
                        background-size: 22px;
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translate(0, -50%);
                        }
                    }
                }
            }
        }
    }    
        
.hover {
    li {
        display: none;
        background: $white;
        height: 50px;
        padding-left: 25px;
    
        font-size: 20px;
        line-height: 50px;

    &:hover {
        border-top: 1.2px solid $secondary;
        a {
            color: $secondary;
        }
    }
    }
    
}

.allmenu {
    z-index: 1000;
    display: none;
    width: 100%;
    height: auto;
    position: fixed;
    top: -22px;
    left: 0;

    .allmenu-header {
        width: 100%;
        height: 70px;
        display: flex;
    }

    .menubar-click {
        li {
            .menubar-click.tit {
                // width: 100%;
                background: $white;
                display: flex;
                align-items: center;
                font-size: 2.375rem;
                font-weight: bold;
                padding: 20px 30px;
            
                &:hover {
                    color: $secondary;

                    &~.hover {
                        li {
                            display: block;
                        }
                    }
            
                &::after {
                    content: '';
                    display: flex;
                    width: 22px;
                    height: 22px;
                    background: url(../image/gnb-choice.png) $bg-img;
                    background-size: 22px;

                    margin-left: 5px;
                    }
                }
                
            }
        }
    }
    .lang {
        display: flex;
        justify-content: center;

        margin-top: 40px;
        margin-bottom: 32px ;
    
        ul {
            display: flex;
            text-align: center;
            align-items: center;
            a {
                padding: 0 5px;
                display: block;
            }
        }
    
        &::before {
            content: '';
            display: block;
            width: 22px;
            height: 22px;
            background: url(../image/lang-icon.png) $bg-img;
            background-size: 22px;
        }
    }       
}  

/* 스와이퍼 */
.mySwiper {
    width: 100%;
    height: 100%;
    
    margin-left: auto;
    margin-right: auto;
}


.swiper-slide {
    text-align: center;
    font-size: 1.125rem;
    background: $white;

    @include flexAllCenter;
    .swiper-web {
        display: none;
        object-fit: contain;
    }
    .swiper-mobile {
        display: block;
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}
.swiper-pagination-bullet {
    background: $secondary;
    }
    
/* 슬라이드텍스트 */
.animated {
    display: flex;
    .right {
        background: $primary;
        display: flex;
    }

    .left {
        background: $secondary;
        
        a {
            display: flex;
        }
    }

    span {
        font-family: 'Noto sans KR';
        font-size: 1.25rem;
        color: $white;
    }
}
.flow {
    overflow: hidden;
}

.flowtxt {
    display: inline-block;
    white-space: nowrap;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 50px;
}

.animated > .flowtxt {
    &.right > div {
        line-height: 50px;
        animation: marquee-ani 30s linear normal infinite;
    }

    &.left > a > div {
        line-height: 50px;
        animation: marquee-ani 30s linear reverse infinite;
    }
}

@keyframes marquee-ani {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#footer {
    width: 100%;
    background: $secondary;

    .footer-inner {
        max-width: 1280px;
        margin: 0 auto;

        padding-bottom: 20px;;

        color: $white;

        .footer-up {
            display: flex;
            justify-content: space-between;
            flex-direction: column-reverse;
            align-items: center;

            margin-bottom: 10px;

            .footer-tit {
                color: $white;

                font-size: 20px;
                font-weight: bold;

                margin-top: 20px;

                display: flex;

                &::after {
                    display: block;
                    content: '\f106';
                    font-family: "Font Awesome 6 Free";

                    width: 30px;
                    height: 30px;

                    margin-left: 10px;  

                    rotate: 180deg;
                }
            }

            .sns {
                width: 100%;

                background: $gray-100;
                .sns-list {
                    width: 100%;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    gap: 10px;
                    padding: 10px;
                    
                    .sns-listitem {
                        display: flex;
                        align-items: center;

                        .kakaoTalk::after {
                            display: block;
                            content: "\f075";
                            font-family: "Font Awesome 6 free";
                            font-weight: 400;
                            font-size: 22px;
                            line-height: 30px;
                            text-align: center;

                            width: 30px;
                            height: 30px;

                            color: $black;
                        }
                        .instaGram::after {
                            display: block;
                            content: "\f16d";
                            font-family: "Font Awesome 6 Brands";
                            font-weight: 400;
                            font-size: 22px;
                            line-height: 30px;
                            text-align: center;

                            width: 30px;
                            height: 30px;

                            color: $black;
                        }
                        .faceBook::after {
                            display: block;
                            content: "\f09a";
                            font-family: "Font Awesome 6 Brands";
                            font-weight: 400;
                            font-size: 22px;
                            line-height: 30px;
                            text-align: center;

                            width: 30px;
                            height: 30px;

                            color: $black;

                        }
                        .youTube::after {
                            display: block;
                            content: "\f167";
                            font-family: "Font Awesome 6 Brands";
                            font-weight: 400;
                            font-size: 22px;
                            line-height: 30px;
                            text-align: center;

                            width: 30px;
                            height: 30px;

                            color: $black;

                        }
                    }
                }
            }
        }
        .footer-down {
            padding: 0 10px;
            .contact {
                display: flex;
                flex-direction: column;
                gap : 10px;

                font-size: 13px;

                margin-bottom: 27px;
            }
            .mobile {
                display: flex;
                flex-direction: column;
                gap : 10px;

                font-size: 13px;
            }
            .web {
                display: none;
            }
        }
    }
}



@import 'main','media'; 