@charset "UTF-8";
/* NOTO SANS KR */
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 900;
  font-display: swap;
  src: local("NotoSansKR-Black"), url("fonts/notosansKR/NotoSansKR-Black.woff2") format("woff2"), url("fonts/notosansKR/NotoSansKR-Black.woff") format("woff");
}
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 700;
  font-display: swap;
  src: local("NotoSansKR-Bold"), url("fonts/notosansKR/NotoSansKR-Bold.woff2") format("woff2"), url("fonts/notosansKR/NotoSansKR-Bold.woff") format("woff");
}
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 500;
  font-display: swap;
  src: local("NotoSansKR-Medium"), url("fonts/notosansKR/NotoSansKR-Medium.woff2") format("woff2"), url("fonts/notosansKR/NotoSansKR-Medium.woff") format("woff");
}
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 400;
  font-display: swap;
  src: local("NotoSansKR-Regular"), url("fonts/notosansKR/NotoSansKR-Regular.woff2") format("woff2"), url("fonts/notosansKR/NotoSansKR-Regular.woff") format("woff");
}
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 300;
  font-display: swap;
  src: local("NotoSansKR-Light"), url("fonts/notosansKR/NotoSansKR-Light.woff2") format("woff2"), url("fonts/notosansKR/NotoSansKR-Light.woff") format("woff");
}
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 100;
  font-display: swap;
  src: local("NotoSansKR-Thin"), url("fonts/notosansKR/NotoSansKR-Thin.woff2") format("woff2"), url("fonts/notosansKR/NotoSansKR-Thin.woff") format("woff");
}
/* PRETENDARD */
@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"), url("fonts/Pretendard/Pretendard-Black.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"), url("fonts/Pretendard/Pretendard-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"), url("fonts/Pretendard/Pretendard-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"), url("fonts/Pretendard/Pretendard-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"), url("fonts/Pretendard/Pretendard-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"), url("fonts/Pretendard/Pretendard-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"), url("fonts/Pretendard/Pretendard-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"), url("fonts/Pretendard/Pretendard-ExtraLight.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"), url("fonts/Pretendard/Pretendard-Thin.woff2") format("woff2");
}
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
}

button {
  -webkit-appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Pretendard Variable", "맑은 고딕", sans-serif;
  color: #222222;
}

/* desktop */
@media screen and (min-width: 1280px) {
  body {
    font-size: 16px;
  }
}
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #222;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

#header {
  height: 70px;
}

#footer {
  height: 70px;
}

/* 헤더 */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}
#header .wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  /* 네비게이션메뉴 */
}
#header .wrap #logo {
  display: block;
}
#header .wrap #logo::after {
  content: "";
  display: block;
  width: 75px;
  height: 30px;
  background: url(../image/megazoo-logo.png) no-repeat center center;
  background-size: 75px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#header .wrap .header-icon {
  margin-right: auto;
}
#header .wrap .header-icon .mypg {
  display: block;
  width: 40px;
  height: 40px;
}
#header .wrap .header-icon .mypg::after {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  background: url(../image/mypage-icon.png) no-repeat center center;
  background-size: 22px;
  position: absolute;
  top: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#header .wrap .gnb-wrap {
  position: relative;
}
#header .wrap .gnb-wrap .btn.Imenubar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  visibility: hidden;
  opacity: 0;
}
#header .wrap .gnb-wrap .btn.Imenubar:checked ~ .allmenu {
  display: block;
  width: 100%;
}
#header .wrap .gnb-wrap .btn.Lmenubar {
  position: relative;
  z-index: 1100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}
#header .wrap .gnb-wrap .btn.Lmenubar .bar {
  display: block;
}
#header .wrap .gnb-wrap .btn.Lmenubar .bar::after {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  background: url(../image/menubar-icon.png) no-repeat center center;
  background-size: 22px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.hover {
  display: none;
}

.allmenu {
  z-index: 1000;
  display: none;
  width: 100%;
  height: auto;
  position: fixed;
  top: -22px;
  left: 0;
}
.allmenu .allmenu-header {
  width: 100%;
  height: 70px;
  display: flex;
}
.allmenu .menubar-click li .menubar-click.tit {
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  font-size: 2.375rem;
  font-weight: bold;
  padding: 20px 20px 20px 20px;
}
.allmenu .menubar-click li .menubar-click.tit:hover {
  color: #e30613;
}
.allmenu .menubar-click li .menubar-click.tit:hover::after {
  content: "";
  display: flex;
  width: 22px;
  height: 22px;
  background: url(../image/gnb-choice.png) no-repeat center center;
  background-size: 22px;
  margin-left: 5px;
}
.allmenu .lang {
  display: flex;
  justify-content: center;
}
.allmenu .lang ul {
  display: flex;
  text-align: center;
  align-items: center;
}
.allmenu .lang ul a {
  padding: 0 5px;
}
.allmenu .lang::before {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  background: url(../image/lang-icon.png) no-repeat center center;
  background-size: 22px;
}

/* 스와이퍼 */
.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 1.125rem;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

/* 슬라이드텍스트 */
.animated .right {
  background: #222222;
}
.animated .left {
  background: #e30613;
}
.animated span {
  font-family: "Noto sans KR";
  font-size: 1.25rem;
  color: #fff;
}

.flow {
  overflow: hidden;
}

.flowtxt {
  display: inline-block;
  white-space: nowrap;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 50px;
}

.animated > .flowtxt.right > div {
  line-height: 50px;
  animation: marquee-ani 30s linear normal infinite;
}
.animated > .flowtxt.left > a > div {
  line-height: 50px;
  animation: marquee-ani 30s linear reverse infinite;
}

@keyframes marquee-ani {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
#footer .inner .sns {
  display: block;
  height: 30px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2px 0;
}
#footer .inner .sns ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}
#footer .inner .sns .kakaotalk::after {
  content: "";
  display: block;
  margin-right: 15px;
  width: 22px;
  height: 22px;
  background: url(../image/kakao-talk.png) no-repeat center center;
  background-size: 18px;
}
#footer .inner .sns .instagram::after {
  content: "";
  display: block;
  margin-right: 15px;
  width: 22px;
  height: 22px;
  background: url(../image/instagram.png) no-repeat center center;
  background-size: 18px;
}
#footer .inner .sns .facebook::after {
  content: "";
  display: block;
  margin-right: 15px;
  width: 22px;
  height: 22px;
  background: url(../image/facebook.png) no-repeat center center;
  background-size: 18px;
}
#footer .inner .sns .youtube::after {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  background: url(../image/youtube.png) no-repeat center center;
  background-size: 18px;
}
#footer .footer .up {
  background: #e30613;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 0;
}
#footer .footer .down {
  display: block;
  text-align: left;
  font-size: 13px;
  font-weight: 400;
}
#footer .footer .down p {
  margin: 10px;
}

/* 메인 */
#main {
  width: 100%;
}

.sec01 {
  margin-top: 40px;
  margin-bottom: 70px;
}
.sec01.Tit {
  margin-bottom: 35px;
}
.sec01 .b::before, .sec01 .b::after {
  content: "";
  display: block;
  margin: 0 5px;
  width: 22px;
  height: 22px;
  background: url(../image/mainpro-icon.png) no-repeat center center;
  background-size: 22px;
}
.sec01.cnt ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.sec01.cnt li {
  width: 50%;
}
.sec01.cnt li a {
  height: 157px;
  border: 2.5px solid #D9D9D9;
  border-radius: 30px;
  margin: 5px;
  padding-top: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #fff;
}
.sec01.cnt li a:hover {
  background: #222222;
  color: #fff;
  font-weight: 500;
  border: 2.5px solid #222222;
}
.sec01.cnt li a:hover.cnt01::before {
  content: "";
  display: block;
  margin: 0 5px;
  width: 100px;
  height: 100px;
  background: url(../image/petfood--hover-icon.png) no-repeat center center;
  opacity: 1;
  background-size: contain;
  display: flex;
}
.sec01.cnt li a:hover.cnt02::before {
  content: "";
  display: block;
  margin: 0 5px;
  width: 100px;
  height: 100px;
  background: url(../image/pettrip--hover-icon.png) no-repeat center center;
  opacity: 1;
  background-size: contain;
  display: flex;
}
.sec01.cnt li a:hover.cnt03::before {
  content: "";
  display: block;
  margin: 0 5px;
  width: 100px;
  height: 100px;
  background: url(../image/petcare--hover-icon.png) no-repeat center center;
  opacity: 1;
  background-size: contain;
  display: flex;
}
.sec01.cnt li a:hover.cnt04::before {
  content: "";
  display: block;
  margin: 0 5px;
  width: 80%;
  height: 100px;
  background: url(../image/petmeeting--hover-icon.png) no-repeat center center;
  opacity: 1;
  background-size: contain;
  display: flex;
}
.sec01.cnt01::before {
  content: "";
  display: block;
  margin: 0 5px;
  width: 100px;
  height: 100px;
  background: url(../image/petfood-icon.png) no-repeat center center;
  opacity: 60%;
  background-size: contain;
  display: flex;
}
.sec01 p {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
}
.sec01.cnt02::before {
  content: "";
  display: block;
  margin: 0 5px;
  width: 100px;
  height: 100px;
  background: url(../image/pettrip-icon.png) no-repeat center center;
  opacity: 60%;
  background-size: contain;
  display: flex;
}
.sec01.cnt03::before {
  content: "";
  display: block;
  margin: 0 5px;
  width: 100px;
  height: 100px;
  background: url(../image/petcare-icon.png) no-repeat center center;
  opacity: 60%;
  background-size: contain;
  display: flex;
}
.sec01.cnt04::before {
  content: "";
  display: block;
  margin: 0 5px;
  width: 80%;
  height: 100px;
  background: url(../image/petmeeting-icon.png) no-repeat center center;
  opacity: 60%;
  background-size: contain;
  display: flex;
}
.sec01.btn {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.btn.map {
  height: 50px;
  padding-left: 10px;
  display: block;
  background: #222222;
  border: 2px solid #222222;
  border-radius: 50px;
  font-family: "Noto sans KR";
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn.map::after {
  content: "";
  display: block;
  width: 40px;
  height: 30px;
  background: url(../image/arrowdirection-icon.svg) no-repeat center center;
  background-size: contain;
  margin-left: 10px;
}
.btn.map:hover {
  color: #222222;
  background: #fff;
  border: 2px solid #222222;
  transform: translateY(-10px);
}
.btn.map:hover::after {
  content: "";
  display: block;
  width: 40px;
  height: 30px;
  background: url(../image/arrowdirection--hover-icon.svg) no-repeat center center;
  background-size: contain;
  margin-left: 10px;
}

#sec-bg {
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 10px;
  width: 100%;
  height: auto;
  background: #222 url(../image/sec-bg.jpg) no-repeat center center;
  transform: translateX(-10px);
}

#sec02, #sec03, #sec04, #sec05 {
  margin: 0 10px;
}

.sec02 .Tit, .sec03 .Tit, .sec04 .Tit {
  height: 45px;
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 15px;
}

.sec02 .b, .sec03 .b, .sec04 .b {
  width: 100%;
  color: #fff;
  line-height: 45px;
}

.sec02 .b::before {
  content: "";
  display: block;
  padding-right: 10px;
  width: 40px;
  height: 40px;
  background: url(../image/notice-icon.png) no-repeat center center;
  background-size: contain;
}
.sec02 .b::after {
  content: "";
  display: block;
  margin-left: auto;
  width: 40px;
  height: 22px;
  background: url(../image/arrowdirection-icon.svg) no-repeat center center;
  background-size: cover;
  display: flex;
}

.bbs.list li, .qna.list li, .evnt.list li {
  display: flex;
  flex-direction: column;
}
.bbs.list li a, .qna.list li a, .evnt.list li a {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 600;
  height: 60px;
  font-size: 14px;
  border-bottom: 1px solid #fff;
}
.bbs.list li a p, .qna.list li a p, .evnt.list li a p {
  color: #fff;
}
.bbs.list li a span, .qna.list li a span, .evnt.list li a span {
  width: 75px;
  height: 30px;
  border: 1.5px solid #fff;
  color: #fff;
  border-radius: 50px;
  line-height: 30px;
  margin: 15px 25px 15px 10px;
}
.bbs.list li:hover, .qna.list li:hover, .evnt.list li:hover {
  background: #fff;
}
.bbs.list li:hover span, .qna.list li:hover span, .evnt.list li:hover span {
  color: #222222;
  border: 2px solid #222222;
}
.bbs.list li:hover p, .qna.list li:hover p, .evnt.list li:hover p {
  color: #222222;
  font-weight: 600;
}

.sec03 .b::before {
  content: "";
  display: block;
  padding-right: 10px;
  width: 40px;
  height: 40px;
  background: url(../image/event-icon.png) no-repeat center center;
  background-size: contain;
}
.sec03 .b::after {
  content: "";
  display: block;
  margin-left: auto;
  width: 40px;
  height: 22px;
  background: url(../image/arrowdirection-icon.svg) no-repeat center center;
  background-size: cover;
  display: flex;
}

.sec04 .b::before {
  content: "";
  display: block;
  padding-right: 10px;
  width: 40px;
  height: 40px;
  background: url(../image/qmark-icon.png) no-repeat center center;
  background-size: contain;
}
.sec04 .b::after {
  content: "";
  display: block;
  margin-left: auto;
  width: 40px;
  height: 22px;
  background: url(../image/arrowdirection-icon.svg) no-repeat center center;
  background-size: cover;
  display: flex;
}
.sec04.inner {
  margin-bottom: 50px;
}

.evnt-bnr {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.evnt-bnr .evnt-slide {
  border-radius: 30px;
}
.evnt-bnr .evnt-slide .evnt-slide-img {
  border-radius: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  width: var(--swiper-width);
  display: flex;
  align-items: center;
  justify-content: center;
}
.evnt-bnr .evnt-slide .evnt-slide-img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#sec05 {
  padding-top: 40px;
  padding-bottom: 20px;
}
#sec05 .inner .Tit .b::before, #sec05 .inner .Tit .b::after {
  content: "";
  display: block;
  margin: 0 5px;
  width: 22px;
  height: 22px;
  background: url(../image/sec05-icon.png) no-repeat center center;
  background-size: 22px;
}
#sec05 .inner .mapimg img {
  width: 100%;
}
#sec05 .Info {
  margin-top: 10px;
}
#sec05 .Info .Info-tit {
  display: flex;
  align-items: center;
  margin-top: 20px;
  height: 50px;
  line-height: 50px;
  font-weight: 600;
  border-bottom: 0.8px solid #222222;
}
#sec05 .Info .Info-tit::before {
  content: "";
  display: block;
  margin: 0 15px;
  width: 22px;
  height: 22px;
  background: url(../image/Position-Icon.png) no-repeat center center;
  background-size: 22px;
}
#sec05 .Info .Info-tit::after {
  content: "";
  display: block;
  margin-left: auto;
  width: 40px;
  height: 22px;
  background: url(../image/arrowdirection\(b\)-icon.png) no-repeat center center;
  color: black;
  display: flex;
}
#sec05 .Info p {
  padding-left: 52px;
}
#sec05 .Info p:nth-child(2) {
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
}
#sec05 .Info p:nth-child(3) {
  font-size: 14px;
  color: #555555;
  font-weight: 400;
}
#sec05 .Info .Info-bus {
  padding-left: 52px;
  margin-top: 15px;
  font-size: 14px;
}
#sec05 .Info .Info-bus dt {
  margin-bottom: 10px;
  font-weight: 500;
}
#sec05 .Info .Info-bus dd {
  margin-bottom: 20px;
}
#sec05 .Info .Info-bus dd ul {
  padding-left: 30px;
}
#sec05 .Info .Info-bus dd ul li {
  list-style: initial;
  line-height: 30px;
}

.b {
  font-family: "Noto sans KR";
  font-size: 28px;
  letter-spacing: -3.6px;
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=comm.css.map */